body {
  background-color: Gray;
}
.backGround {
  background-color: Tan;
  text-align: center;
}
.banner-Text {
  font-size: 40px;
  color: White;
}
.input {
  border: clear;
  position: auto;
  top: 250px;
  left: 500px;
}

.output1 {
  width: 400px;
}
.footer {
  color: Tan;
}